<section class="admin-section"></section>
    <h2>Quiz Management</h2>
    <div class="search-bar">
        <input type="text" placeholder="Search quizzes..." id="quiz-search">
    </div>
    <div id="quizzes-grid" class="quizzes-grid"></div>
</section>
<script src="/js/admin/quizManagement.js"></script>