<div class="user-management">
    <div class="search-container">
        <input type="text" id="user-search" placeholder="Search users..." class="search-input">
    </div>

    <div id="users-grid" class="users-grid"></div>
</div>
<script src="/js/admin/userManagement.js"></script>